{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <button class="site-nav__toggle" type="button">
        <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
        <div class="navicon">
          <div class="navicon__bar"></div>
          <div class="navicon__bar"></div>
          <div class="navicon__bar"></div>
        </div>
      </button>
      <nav class="site-nav__drawer">
        <div class="site-nav__inner">
          {% unless logo_path == empty %}
            <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}"></a>
          {% endunless %}
          <a class="site-title" href="{{ '/' | relative_url }}">
            {{ site.masthead_title | default: site.title }}
            {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
          </a>
          <ul class="site-nav__menu">
            {%- for link in site.data.navigation.main -%}
              <li class="site-nav__menu-item">
                <a
                  href="{{ link.url | relative_url }}"
                  {% if link.description %} title="{{ link.description }}"{% endif %}
                  {% if link.target %} target="{{ link.target }}"{% endif %}
                >{{ link.title }}</a>
              </li>
            {%- endfor -%}
          </ul>
          {% if site.search == true %}
          <button class="search__toggle" type="button">
            <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
            <i class="fas fa-search"></i>
          </button>
          {% endif %}
        </div>
      </nav>
      <div class="site-nav__overlay"></div>
    </div>
  </div>
</div>
